{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descrition" content="Instalarger , Makes Thumbnail Pictures Large.">
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
    <link rel="manifest" href="static/img/site.webmanifest">
    <title>Instalarger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles.css'%}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'home.css'%}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2058013073445994"
     crossorigin="anonymous"></script>
    <script data-ad-client="ca-pub-2058013073445994" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark  nbarcolor">
        <div class="container-fluid nbarcolor">
            <a class="navbar-brand" href="">Instalarger</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footersec">About&Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Tools
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" style="color: black!important;" href="/instagram/instagram-profile-picture-zoom">instagram pp zoom</a></li>
                            <li><a class="dropdown-item" style="color: black!important;" href="/vsco/vsco-profile-picture-zoom">Vsco pp zoom</a></li>
                            <li><a class="dropdown-item" style="color: black!important;" href="#f!">Tiktok pp zoom</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/">ENG/TR</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="headerMyc">
        <h1 class="textHMyc">INSTALARGER TOOLS </h1>
    </div>
    <div class="container">
        <div class="emptyMyc"></div>
        <div class="firstText">
            <h3>Instalarger - social Media Tools</h3>
            <p> Instalarger provides better experience for some popular social media platforms like instagram, vsco, tiktok. It allows you to interact completely free and in the fastest way naturally, such as <strong>instagram profile picture enlargement, vsco profile picture enlargement, tiktok profile picture enlargement </strong>.
                instalarger It also offers some services other than <strong>pp enlargement</strong>. Our tools are available below. Do not hesitate to contact us for your suggestions and complaints. </p>
        </div>
        <hr class="solid line">
        <div class="kutu1">
            <div class="ibox n1">
                <div class="iboxx11">
                    <p class="homeText"> Instalarger is a free tool made to enlarge instagram profile photo. Instalarger displays the profile photo of the instagram user you are looking for in HD. Compatible with Instalarger android, ios or desktop devices It was designed
                        for and is still in development.</p>
                </div>
                <div class="iboxx13">
                    <div class="leftDiv">
                        <a href="/instagram/instagram-profile-picture-zoom">
                            <p>Click to enlarge instagram profile pictures</p>
                        </a>
                    </div>
                    <div class="v1"></div>
                    <div class="picbox1">
                        <img src="{%static 'img/instafav.png'%}" class="logoHome" alt="">
                        <p class="texthome"><strong>insta pp zoom</strong> instalarger.com </p>
                    </div>
                </div>
            </div>
            <hr class="solid line">
            <div class="ibox n2">
                <div class="iboxx21">
                    <p class="homeText">Vsco Larger is a profile picture enlargement tool for vsco. Vsco profile picture enlarger Vsco Larger is completely free and quickly brings the profile pictures you are looking for without the need to download a program. Vsco Larger
                        is one of our other larger tools It enlarges the profile pictures of Vsco accounts that cannot be automatically enlarged as it is.</p>
                </div>
                <div class="iboxx23">
                    <div class="leftDiv">
                        <a href="/vsco/vsco-profile-picture-zoom">
                            <p>Click to enlarge Vsco profile pictures</p>
                        </a>
                    </div>
                    <div class="v1"></div>
                    <div class="picbox2"> <img src="{%static 'img/vsco.png'%}" class="logoHome" alt="">
                        <p class="texthome"><strong> vsco pp zoom</strong> instalarger.com</p>
                    </div>
                </div>
            </div>
            <hr class="solid line">
            <div class="ibox n3">
                <div class="iboxx31">
                    <p class="homeText"> TikTok profile picture enlarger allows you to enlarge the profile pictures of tiktok accounts in hd. Tiktok pp enlargement tool allows you to enlarge profile pictures of all profiles, including hidden tiktok accounts.</p>
                </div>
                <div class="iboxx33">
                    <div class="leftDiv">
                        <a href="#!">
                            <p>Click to enlarge Tiktok profile pictures</p>
                        </a>
                    </div>
                    <div class="v1"></div>
                    <div class="picbox3"> <img src="{%static 'img/tiktoktrans.png'%}" class="logoHome" alt="">
                        <p class="texthome"><strong>tiktok pp zoom</strong> instalarger.com</p>
                    </div>
                </div>
            </div>
            <hr class="solid line">
            <div class="ibox n4">
                <div class="iboxx41">
                    <p class="homeText">
                        Instagram unfollower finder shows you which accounts you follow on instagram and which ones do not follow you back. You can use the instagram unnfollower finder tool by logging into your Instagram account.</p>
                </div>
                <div class="iboxx43">
                    <div class="leftDiv">
                        <a href="#!">
                            <p>Click to find Instagram unfollowers</p>
                        </a>
                    </div>
                    <div class="v1"></div>
                    <div class="picbox4"> <img src="{%static 'img/instafav.png'%}" class="logoHome" alt="">
                        <p class="texthome"><strong>insta find UNFs</strong> instalarger.com</p>
                    </div>
                </div>
            </div>
            <div class="lastText">
                <h3>Instalarger Social Media Tools</h3>
                <h5>Instagram profile zoom, Vsco profile zoom, Tiktok profile zoom .</h5> Instalarger.com is a completely safe and fast internet application that you can use for some social media platforms such as Instagram, Vsco and Tiktok. In these tools
                you do not need to download a program to use it. You can enlarge the profile picture of the user you are searching for in the social platform you want, download stories and videos, find the unfollowers by access your own account and you
                can see UNFs even for other public accounts , in complete privacy. </div>
            <div class="lastText">
                <h3>How to Zoom Profile Pictures?</h3>
                <h5>Instagram profile zoom, Vsco profile zoom, Tiktok profile zoom .</h5> Vsco, instagram and tik tok profile pictures are small (usually 120*120) images called thumbnails on the platforms in question. Users cannot enlarge these small size
                photos from within the site. This is where tools like <strong>instalarger.com</strong> come into play that offer a better social media experience. By using our site <strong>Vsco , Instagram , Tiktok</strong> etc. You can enlarge the thumbnail
                profile picture you want in seconds by simply searching for the username on the sites and without sharing your identity. </div>
            <div class="lastText">
                <h3>About Privacy</h3>
                <h5>Instagram profile zoom, Vsco profile zoom, Tiktok profile zoom .</h5> We do not request any identification information from you while using our social media tools. Therefore, we do not have access to any of your personal information. Our
                <strong>Instagram profile picture enlargement, Vsco profile picture enlargement and Tiktok profile picture enlargement</strong> tools allow you to enlarge the profile picture of the user without sending any notification, even if the account
                is private. takes it, enlarges it and presents it to you. You can make any search you want without worrying about privacy. </div>
            <div class="lastText">
                <h3>Other Tools of Instalarger</h3>
                <h5>Instagram profile zoom, Vsco profile zoom, Tiktok profile zoom.</h5> Instalarger develops tools that will enrich your social media experience such as <strong>finding instagram unfollower, downloading instagram story </strong>, as well
                as tools called insta, vsco, tiktok pp enlargement. Please contact for your suggestions and comments on the subject.</div>
        </div>
    </div>

    <footer class="bg-primary text-white text-center text-lg-start  vsco-color">
        <!-- Grid container -->
        <div class="container p-4 footerMyc vsco-color">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Frequently Asked Questions </h5>
                    <p>
                        <strong>What is profile picture zoomer? </strong> Instagram profile picture enlarger is a tool that allows you to see very small profile pictures on Instagram.
                        <strong>Is zoomer tools free? </strong> All of tools provided by Instalarger.com are completely free and safe .
                    </p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="mailto:instalarger@gmail.com" class="text-white">Contact</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Instagram</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0" id="footersec">About</h5>
                    <p>
                        Instagram profile enlarger is a web application that offers a wider experience to Instagram users by using a set of software.
                    </p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">www.instalarger.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!--FOOTER ENDS-->
    <!-- deneme kodu-->
    <script type="application/javascript">
        function getIP(json) {
            console.log("My public IP address is: ", json.ip);
        }
    </script>
    <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
</body>
</html>